@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}    
body{
    font-size: 15px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: #3a3a3a; 
    
}

    h1,h2{
       font-family: oswald, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;
        
        
    }
    #logo{
        float: left;
        font-size: 200%;
        margin-left: 30px;
        color: #000000;
                
    }
    /*navigation links */
.menu-bar{
        height: 73px;
        width: 100%;
        background-color: #08A9B4;
        position: relative;
        z-index: 9999;
      }

#nav{
    font-size: 100%;
    letter-spacing: 4px;
}
#nav, #logo{
    line-height: 75px;
}

#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a{
    text-decoration: none;
    color: #000000;    
}
#nav a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
/*hero image*/

#animation{
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#water-image {
    height: 500px;
    width: 100%;
    background: url("../../assets/images/water-image.jpg") no-repeat center center;
    

/* image animation zoom properties */
animation-name: image-zoom;
animation-duration: 10s;
animation-fill-mode: forward;
}
/* animation of water image zoom */
@keyframes image-zoom{
    form{
        transform: scale(1.0);
    }
    to{
transform: scale(1.1);
    }
}

/*module introduction section */
#module-introduction{
    height: 600px;
}
#left-aim{
    padding-top: 30px;
    width: 33%;
    float: left;
   
    }

#contact{
        padding-top: 30px;
        width: 33%;
        float: right;
            
    }
#video-intro{
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;

    
    
}


hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 10px, 0;
}
.left-aim-heading{
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
    
}
#title-block{
    width: 600px;
    height: 50px;
    background: steelblue;
        
}
#title{
    text-align: left;
    margin: 10px 0;
    font-size: 150%;
    color: white;
    padding-left: 20px;
   
    
}
.class-block{
    width: 100%;
    height: 150px;
    background:rgb(78, 133, 150);
    margin-top: 100px;
    color: white;
}

/* section 3 topics */
.wrapper{
   margin-top: 5%; 
}
.wrapper h1{
    font-family: oswald, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.topic{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.topic .topic-detail{
    background: #BDFB13;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}
.topic .topic-detail h3{
    color:#06157A;
    font-size: 25px;
    margin-top: 2px;
    padding-bottom: 10px;
}


    /* Contact_us page */

#feedback{
    clear: both;
    padding-left: 30px;
   
}
      
  .contact_form {
    color: #fff;
    background-color: #34495e;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
   float: left;
    margin-top: 1.5%;
    
  }
  
  .contact_form h2 {
    color: #fafafa;
    margin-bottom: 50px;
  }
  
  .text_input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }
  
  .text_input:hover {
    border-color:rgb(226, 43, 73)
  }

  #radio{
      margin-left: 50px;
  }
  #radio li{
      padding: 15px;
  }
#space{
    padding-right: 15px;
}

#comment-box{
    border: 1px solid #fafafa;
}
   #comment{
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    height: 10rem;
  }
  
  .submit_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #e74c3c;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
  }
  
  .submit_button:hover {
    background-color: #fff;
    color: #e74c3c;
  }
  
  .form_layout {
    text-align: left;
  }
  
  .form_inline {
    display: inline-block;
    vertical-align: bottom;
  }
  
  .form_inline img {
    max-width: 500px;
    border-radius: 10px;
  }
  
*/











/* footer */
footer{
    height: 100px;
}
.social-media{
    text-align: center;
}

.social-media >li{
    display: inline;
}
.social-media i{
    font-size: 170%;
    margin: 25px;
    padding: 25px;
    color: #3a3a3a;
}

