@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}    
body{
    font-size: 15px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: #3a3a3a; 
    

}
.menu-bar{
    background: #08A9B4;
    text-align: right;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 100%;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.drop-down{
    display: none;
}
.menu-bar ul li:hover .drop-down{
    display: block;
    position: absolute;
    background: #08A9B4;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 1000;
}
.menu-bar ul li:hover .drop-down ul{
 display: block;
 margin: 10px;
}
.menu-bar ul li:hover .drop-down ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    
}
.menu-bar ul li:hover .drop-down ul li a:hover{
    color:teal;
}

#logo{
    float: left;
    font-size: 100%;
    margin-left: 50px;
    padding: 15px;
            
}
#logo h1{
    color: #fff;
}

    h1,h2,h3{
       font-family: oswald, sans-serif;
        letter-spacing: 2px;
        color:#046231;
              
    }
   
    /*navigation links */
/*    
.menu-bar{
        height: 73px;
        width: 100%;
        background-color: #08A9B4;
        position: relative;
        z-index: 9999;
      }

#nav{
    font-size: 100%;
    letter-spacing: 4px;
}
#nav, #logo{
    line-height: 75px;
}

#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a{
    text-decoration: none;
    color: #000000;    
}
#nav a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
/*hero image*/

#animation{
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#water-image {
    height: 500px;
    width: 100%;
    background: url("../../assets/images/water-image.jpg") no-repeat center center;
    

/* image animation zoom properties */
animation-name: image-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}
/* animation of water image zoom */
@keyframes image-zoom{
    from{
        transform: scale(1.0);
    }
    to{
transform: scale(1.1);
    }
}

/*module introduction section */

.course-about{
    display:flex;
    text-align: left;
    width: auto;
    margin: 30px;
}
    
#left-aim{
    padding-top: 30px;
    width: 33%;
    float: left;
   
    }

#video-intro{
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;      
}
#video-intro video{
    width: 500px;

}

#contact{
        padding-top: 30px;
        width: 33%;
        float: right;
            
    }

hr{
    border-top: 2px solid #3a3a3a;
    width: 40%;
    margin: 10px 0;
    
}
.left-aim-heading{
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}
.left-aim-heading p, li{
    line-height: 25px;
    padding-top: 10px;
    color: #201D1E;
}
#title-block{
    width: 600px;
    height: 50px;
    margin-left: 30px;      
}
#title-block{
    text-align: left;
    margin: 10px 0;
    font-size: 150%;
    color: white;
    padding-left: 20px;
   
    
}
.class-block{
    width: 100%;
    height: 150px;
    margin-top: 0;
    color: white;
    margin-left: 60px;
}
#contact-details{
    display: flex;
}
.coordinator{
    margin-top: 10px;
    color: white;
    margin-left: 60px;
}
.coordinator-contact{
    margin-top: 20px;
    margin-left: 20px;
}
.coordinator-contact p{
    color: #046231;
    line-height: 30px;
}

/* section 3 topics */
.wrapper{
   margin-top: 5%; 
}
.wrapper h1{
    font-family: oswald, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.topic{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.topic .topic-detail{
    background: #BDFB13;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}
.topic .topic-detail h3{
    color:#06157A;
    font-size: 25px;
    margin-top: 2px;
    padding-bottom: 10px;
}
    /* Contact_us page */

#feedback{
    clear: both;
    padding-left: 30px;
   }
.contact-form {
    color:#151414;
    background-color:#fff;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1.5%;
    
  }
  
  .contact-heading h2 {
    color: #046231;
    margin-bottom: 40px;
    font-size: 210%;
  }
  
  .contact-details{
width: 550px;
  } 
  .contact-details h2{
      font-size: 30px;
      margin-bottom: 20px;
  }
  .contact-details input{
    background: transparent;
    color: #151414;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px 0;
    border: 1px solid #5c5a5a;
    border-radius: 2px;
  }
  
  .contact-details input:hover {
    border-color:rgb(153, 8, 32);
    cursor: pointer;
  }
  .contact-details fa{
      margin-left: 25px;
  }
  
  .questionnaires h2{
    font-size: 30px;
}

.questionnaires h3{
    color: #046231;
    margin-top: 20px;
    font-weight: 200;
   
}
.questionnaires hr{
    border-top: 2px solid #151414;
    width: 43%;
    margin: 10px 0;
}


.feedback-questionnaire{
    padding-left: 25px;
    }
.radio-botton{
    margin: 0 20px 40px 0;
    cursor: pointer;
    line-height: 15px;
}
.additional-remarks{
    margin-top: 20px;
} 
.additional-remarks h2{
    font-size: 30px;
    margin-bottom: 20px;
}     

.additional-remarks textarea{
    border-color: #be0e0e;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    height: 15rem;
    background-color: #edf3f0;
        
  }
  
  .button {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 110%;
    background-color: #0ad17e;
    color: #fff;
    display: inline-block;    
  }
  
  .button:hover {
    background-color: rgb(4, 82, 39);
    color: #e74c3c;
    cursor: pointer;
  }
 
  .form-layout {
    text-align: left;
    max-width: 1000px;
  }
  .form-inline{
      display:inline-block;
      vertical-align: bottom;

  }
  ::placeholder{
      padding: 5px;
     
  }
 /*
  .form-inline {
    display: inline-block;
    vertical-align: bottom;
  }
  
  .form-inline img {
    max-width: 1000px;
    border-radius: 10px;
  }
  
*/

/* theory page*/
.content{
    display: flex;
    text-align: left;
    width: auto;
    justify-content: space-between;
    margin-top: 10px;
    
}

.content .content-details{
    background:#fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 600px;
    height: 200px;
    padding: 20px;
    line-height: 20px;
    color: #000000;
    position: relative;
}
.content-details h2{
    margin-bottom: 20px;
}
.content-details li{
    text-align: left;
    margin-left: 50px;
}

.image{
    width: 500px;
    
}
.image img{
    width: 90%;
    height: 70%;
    margin-top: 40px;
 }

.image-turbid{
    width: 500px;
}
.image-turbid img{
    width: 90%;
    height: 60%;
    margin-top: 40px;
}

 .contact-details h3{
     margin-bottom: 15px;
     margin-top: 5px;
 }

 .content-details img{
    width: 80%;
    height: 90%;
    margin-top: 20px;
    
  }
   .content-details h3, p{
      margin-bottom: 15px;
  }
  #turbidity-removal{
    width: 70%;
    height: 80%;
    margin-top: 0;
  }
  #scheme{
      margin: 0 auto;
  }
  #detail{
      width: 80%;
      height: 100%;
      margin: 0 auto;
  }
  .table-content li{
      line-height: 10px;

  }

/* footer */
footer{
    height: 100px;
}
.social-media{
    text-align: center;
   
}

.social-media >li{
    display: inline;
}
.social-media i{
    font-size: 170%;
    margin: 25px;
    padding: 25px;
    color: #3a3a3a;
}

/* media querries */


/*For tablet screen size from 768 -992 px */
@media screen and (min-width: 768px) and (max-width: 992px){

    #video-intro video{
        width: 100%;
        
    }

    .course-about {          
          
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #left-aim, #contact, #video-intro {
        width: 50%;
        
    }
    .left-aim-heading p, li {
        padding-top: 0;
    }
    .coordinator img{
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    .coordinator-contact {
        margin-top: 0;
    }
    #module-content{
        display: flex;
    }
    #module-content{
        display: flex;
        flex-direction: column;

    }
    .topic {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
    }
    .topic-detail{
        width: 50%;
        
    }
    .wrapper{
        text-align: center;
        margin-bottom: 15px;
    }
    hr{
        width: 70%;
    }


   /* theory page tablet screen size from 768 -992 px */

.content{
    display: block;
}
.content .content-details {
    width: 100%;
    height: auto;
}

.content-details li{
    margin-left: 20px;
}

.image {
    width: 100%;
}
.image img{
    margin-left: 20px;
    margin-top: 0px;
}
.content-details h2{
    letter-spacing: 0px;
}
.content-details img{
    margin: 0 auto;
}
#logo h1{
    letter-spacing: 0px;  
}
.image-turbid {
    width: 100%;
}
.image-turbid img{
    margin-left: 20px;
    margin-top: 0px;
}

.content-details h3, p{
margin-bottom: 0px;
}
#scheme{
    width: 90%;
}
#detail{
    margin-top: 20px;
    width: 80%;
}
.table-content li {
    line-height: 25px;
}
}

/* feedback page */
/*For tablet screen size from 768 -992 px */
@media screen and (min-width: 768px) and (max-width: 992px){

.questionnaires hr{
    width: 0px;
}
.feedback-questionnaire li {
    line-height: 50px;
   
}
.additional-remarks h2 {
    margin-top: 30px;
}
}


/*For screen size max width 767 px */
@media screen and (max-width: 767px){
    
    #logo{
        margin-left: 15px;
        margin-top: 10px;
        padding: 0px;
    }
    .menu-bar ul li{
        width: 33%;
        margin: 5px;
        padding: 18px;
        
    } 
    .menu-bar {
        text-align: right;
    }
    #module-introduction {
        width: 85%;
        height: 1200px;
        margin: 0 auto;
    }
#title-block{
    padding: 30px 0;
    text-align: center;
    margin-left: 80px;
}
.course-about {
    display:inline-block;
    width: 100%;
    clear: both;
    height: 150px;
    margin: 0;
    
}
#left-aim, #contact{
    width: 100%;
    float: left;
    padding: 0;
}
#video-intro{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
} 


hr {
    display: none;
}
.wrapper{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 270px;
}
#module-content{
    width: 100%;
    margin-top: 60px;
}
.topic, .topic-detail{
    display:inline-block;
    width: 100%;
    padding-bottom: 5px;
   
    
}
.coordinator{
    margin-left: 0px;
}
.class-block{
 margin-left: 0px;
}
#title-block{
   width: 100%;
    height: 50px;
    margin-left: 0px;  
    font-size: 100%;
    padding: 15px 0;    
}
#video-intro video{
    width: 100%;
    
}
.topic .topic-detail {
    margin: 15px 15px 10px 15px ;
    width: 80%;
} 

.social-media i{
    margin: 0;
   
    /* theory page */
}
.content{
    display: block;
}
.content .content-details {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
   
}
.content-details li{
    margin-left: 20px;
}

.image {
    width: 100%;
}
.image img{
    margin-left: 20px;
    margin-top: 0px;
}
.content-details h2{
    letter-spacing: 0px;
}
.content-details img{
    margin: 0 auto;
}
#logo h1{
    letter-spacing: 0px;  
}
.image-turbid {
    width: 100%;
}
.image-turbid img{
    margin-left: 20px;
    margin-top: 0px;
}

.content-details h3, p{
margin-bottom: 0px;
}
#scheme{
    width: 100%;
}
#detail{
    margin-top: 20px;
    width: 100%;
}
.table-content li {
    line-height: 20px;
}

/* feedback page */

.contact-details {
    width: 100%;
}
.radio-botton {
    margin: 0px 10px 10px 0px;
    width: 100%;
    
}
.feedback-questionnaire {
    padding-left: 0px;
}
.additional-remarks h2 {
    font-size: 135%;
}
.questionnaires h2{
    font-size: 135%;
}
.questionnaires h3{
    font-size: 120%;
}
.contact-details h2 {
    font-size: 135%;
}
.contact-heading h2 {
    font-size: 140%;
}
}
    




/* Media query max width 1200px 
@media screen and (max-width: 1200px) {

    #title-block {
        margin: 20px 0;
        padding-left: 50px;
    }
    #video-intro video {
        width: 100%;
    }
    .wrapper {
        margin-top: 10%;
        margin-left: 5%;
    }
    
element.style {
}
.topic .topic-detail {
       
    margin: 0px 20px 0px 20px;
    width: 100%;
    
}
h1, h2, h3 {
    letter-spacing: 0px;
   
}
.topic{
    text-align: left;
}
}
*/