@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}    
body{
    font-size: 15px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: #3a3a3a;   
}
.menu-bar{
    background: #08A9B4;
    text-align: right;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.drop-down{
    display: none;
}
.menu-bar ul li:hover .drop-down{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .drop-down ul{
 display: block;
 margin: 10px;
}
.menu-bar ul li:hover .drop-down ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .drop-down ul li a:hover{
    color:teal;
}

#logo{
    float: left;
    font-size: 100%;
    margin-left: 50px;
    padding: 15px;
            
}
#logo h1{
    color: #fff;
}

    h1,h2{
       font-family: oswald, sans-serif;
        letter-spacing: 2px;
        color:#046231;
              
    }
   
    /*navigation links */
/*    
.menu-bar{
        height: 73px;
        width: 100%;
        background-color: #08A9B4;
        position: relative;
        z-index: 9999;
      }

#nav{
    font-size: 100%;
    letter-spacing: 4px;
}
#nav, #logo{
    line-height: 75px;
}

#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a{
    text-decoration: none;
    color: #000000;    
}
#nav a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
/*hero image*/

#animation{
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#water-image {
    height: 500px;
    width: 100%;
    background: url("../../assets/images/water-image.jpg") no-repeat center center;
    

/* image animation zoom properties */
animation-name: image-zoom;
animation-duration: 5s;
animation-fill-mode: forward;
}
/* animation of water image zoom */
@keyframes image-zoom{
    form{
        transform: scale(1.0);
    }
    to{
transform: scale(1.1);
    }
}

/*module introduction section */
#module-introduction{
    height: 600px;
}
.course-about{
    display:flex;
    text-align: left;
    width: auto;
    margin: 30px;
}
    
#left-aim{
    padding-top: 30px;
    width: 33%;
    float: left;
   
    }

#video-intro{
    padding-top: 20px;
    width: 33%;
    margin-left: 40px;      
}
#contact{
        padding-top: 30px;
        width: 33%;
        float: right;
            
    }

hr{
    border-top: 2px solid #3a3a3a;
    width: 40%;
    margin: 10px, 0;
    
}
.left-aim-heading{
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}
.left-aim-heading p, li{
    line-height: 25px;
    padding-top: 10px;
    color: #201D1E;
}
#title-block{
    width: 600px;
    height: 50px;
    margin-left: 30px;      
}
#title-block{
    text-align: left;
    margin: 10px 0;
    font-size: 150%;
    color: white;
    padding-left: 20px;
   
    
}
.class-block{
    width: 100%;
    height: 150px;
    margin-top: 0;
    color: white;
    margin-left: 60px;
}
#contact-details{
    display: flex;
}
.coordinator{
    margin-top: 10px;
    color: white;
    margin-left: 60px;
}
.coordinator-contact{
    margin-top: 20px;
    margin-left: 20px;
}
.coordinator-contact p{
    color: #046231;
    line-height: 30px;
}

/* section 3 topics */
.wrapper{
   margin-top: 5%; 
}
.wrapper h1{
    font-family: oswald, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.topic{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.topic .topic-detail{
    background: #BDFB13;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}
.topic .topic-detail h3{
    color:#06157A;
    font-size: 25px;
    margin-top: 2px;
    padding-bottom: 10px;
}


    /* Contact_us page */

#feedback{
    clear: both;
    padding-left: 30px;
   }
.contact-form {
    color:#151414;
    background-color:#D8DCD0;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1.5%;
    
  }
  
  .contact-heading h2 {
    color: #151414;
    margin-bottom: 50px;
  }
  
  .contact-details{
width: 550px;
  }

  .contact-details input{
    background: transparent;
    color: #151414;
    width: 100%;
    height: 30px;
    margin: 10px 0 25px 0;
    border: 1px solid #5c5a5a;
    border-radius: 2px;
  }
  
  .contact-details input:hover {
    border-color:rgb(153, 8, 32);
    cursor: pointer;
  }
.questionnaires h3{
    color: #151414;
   
}
.questionnaires hr{
    border-top: 2px solid #151414;
    width: 43%;
    margin: 10px, 0;
}

.feedback-questionnaire{
padding-left: 25px;
}
.radio-botton{
    margin: 0 20px 40px 0;
    cursor: pointer;
}
.additional-remarks{
    margin-top: 20px;
} 

.additional-remarks textarea{
    border-color: #be0e0e;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    height: 15rem;
        
  }
  
  .submit-button {
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 110%;
    background-color: #0ad17e;
    color: #fff;
    display: inline-block;    
  }
  
  .submit-button:hover {
    background-color: rgb(209, 152, 231);
    color: #e74c3c;
    cursor: pointer;
  }
 
  .form-layout {
    text-align: left;
    max-width: 1000px;
  }
  .form-inline{
      display:inline-block;
      vertical-align: bottom;

  }
 /*
  .form-inline {
    display: inline-block;
    vertical-align: bottom;
  }
  
  .form-inline img {
    max-width: 1000px;
    border-radius: 10px;
  }
  
*/











/* footer */
footer{
    height: 100px;
}
.social-media{
    text-align: center;
   
}

.social-media >li{
    display: inline;
}
.social-media i{
    font-size: 170%;
    margin: 25px;
    padding: 25px;
    color: #3a3a3a;
}

